*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: brown;
}
#mycbox{
    display: none;
}

.menu-bar{
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    top: 35px;
    left: 35px;
    cursor: pointer;
    z-index: 200;
}
.nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;    
    display: flex;
    text-align: center;
    transition: all 0.5s;
}
.nav ul.nav-list{
    margin: auto;
    list-style: none;
}
.nav ul li.nav-item{
    margin: 25px 0;
}
.nav ul li a.nav-link{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.nav ul li a.nav-link:hover{
    color: burlywood;
}
#mycbox:checked + .nav{
    left: 0;
}
